<div class="jumbotron">
  <h1 class="display-4"><%= @patient.fname %> <%= @patient.lname %></h1>
  <hr>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @patient.ssn %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Address</strong>
  <%= @patient.address_line_1 %>, <%= @patient.address_line_2 %>, <%= @patient.city %>, <%= @patient.state %> <%= @patient.zip %>
</p>

<p>
  <strong>Insurance-id:</strong>
  <%= @patient.insurId %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Delete', patient_path, method: :delete, data: { confirm: 'Are you sure?' }  %> | 
<%= link_to 'Back', patients_path(:id => @patient.id, :ssn => @patient.ssn)%>
</div>

<div class="card text-center">

  <div class="card-header">
    <h2>Check insurance here</h2>
  </div>
  <div class="card-body">
  <%= link_to 'Back', patients_path(:id => @patient.id, :ssn => @patient.ssn), class: "btn btn-dark btn-lg" %>
  <%= link_to 'Check insurance', insurances_path(:insurId => @patient.insurId), class: "btn btn-dark btn-lg" %>
  <%= link_to 'Generate bill', insurances_path(:insurId => @patient.insurId), class: "btn btn-dark btn-lg" %>
  </div>
  <div class="card-footer text-muted">
    The insurance id : <%= @patient.insurId %>
  </div>
</div>
